// .env.local
# .env.example
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/watchwithme?retryWrites=true&w=majority&appName=watchwithme
JWT_SECRET=your_jwt_secret_here
OMDB_API_KEY=your_omdb_api_key_here
NEXTAUTH_URL=http://localhost:3000